{{ define "header" }}
<nav style="background-color: #E27D60;color:white;" class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-capitalize" href="/">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/playlist-page">Плейлисты</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/library-page">Библиотека</a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Профиль
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Личный профиль</a></li>
                        <li><a class="dropdown-item" href="#">Настройки</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Выйти</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disable">Подкасты</a>
                </li>
                <li class="nav-item">
                    <a href="/information" class="nav-link">О нас</a>
                </li>
                <li class="nav-item">
                    <a href="/auth-page" class="nav-link">Авторизация</a>
                </li>
                <li class="nav-item">
                    <a href="/register-page "class="nav-link">Регистрация</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
{{ end}}