<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="assets/style/style.css">
    <link rel="stylesheet" href="assets/style/bootstrap.css">
    <script src="../../assets/script/bootstrap.js">
    </script>
</head>
<body>
    <header>
        {{ template "header"}}
    </header>
    <div class="headers ">
    </div>
    <nav style="background-color: #C38D9E" class="p-1 text-center text-white">Купите только сегодня со скидкой! 👉🏻<a class="text-success text-decoration-none" href="/buy">купить</a>👈🏻</nav>
    <div class="info">
        <h1 class="display-5 mt-4 text-center">Проводите время вместе с нашими плейлистами!</h1>
        <div class="info_list d-flex text-center flex-wrap m-5 justify-content-center">
            <div>
                <a href=""><img  src="https://sun9-31.userapi.com/s/v1/ig2/O_Q3yes1skh5JfDcyzPHWbASdbO1lzl9rrEW4mqu5fy0WL7KFMZ3-WwbnsL7MD2rHdJ4pGu40oPjhn6juwJ9IgVy.jpg?size=564x391&quality=96&type=album"></a>
                <p class="display-5">Поп-панк</p>
            </div>
            <div>
                <a href=""><img   src="https://sun9-57.userapi.com/s/v1/ig2/-PArCuk-gFpDEnlohU4IVZzmEUvwXzBTuJXaRfac5yHBhIuQ5JAz3Zl_mbPM-EiLD1AYms5lDy16z4QO_dE_G1Wj.jpg?size=300x250&quality=96&type=album"></a>
                <p class="display-5">Рок</p>
            </div>
            <div>
                <a href=""><img src="https://sun9-20.userapi.com/s/v1/if1/DLOAy4qneW41sX5dhBxaoPS-qjd0ZK-JIz6PsN1vZPYcj4Eznvu6QZYhXw_ln8bUBq8eWuhF.jpg?size=382x581&quality=96&type=album"></a>
                <p class="display-5">Рэп</p>
            </div>
            <div>
                <a href=""><img src="https://sun9-59.userapi.com/s/v1/ig2/5dJQupQnS7oH1myYTcfM-QHyx2AWApPPo5l8lrS7uqt49_dtmphtfcDe7w6-wbRGuTShJdn_g37Jwo4SYELw0WH8.jpg?size=940x951&quality=96&type=album"></a>
                <p class="display-5">Новые имена</p>

            </div>
            <div>
                <a href=""><img src="https://sun9-88.userapi.com/s/v1/ig2/8WrP-gNcs3oySNjh4Ti65avwFFZIx3gHBB8w8RPhHZzQa5l1fRl0VSGfuPN1BYMcI3AWq9ipfNIviFzTOpx2oXge.jpg?size=640x640&quality=95&type=album"></a>
                <p class="display-5">Альтернатива</p>

            </div>
            <div>
                <a href=""><img src="https://sun9-16.userapi.com/s/v1/ig2/xyzu3fmPfCilD1ilJ1MFRhrsXTj5aunCrYQhOXT5G9NFgvT5VCnecMEXVGef3LcN2nEm_GyS3_dv0QUDCrYeAKhh.jpg?size=1125x1104&quality=96&type=album"></a>
                <p class="display-5">Гиперпоп</p>
            </div>
        </div>
    </div>
    <div class="news_block container  d-flex">
        <img src="https://sun2.is74.userapi.com/s/v1/ig2/UC0zQVxWB_sUc_w_P6ZoRn9-v1p9tBLbfrlh-04oOxYEY1KVsWdkbupTUY4Z8x5A20jw47eLKEwnWZPvqmJOZIFV.jpg?size=320x319&quality=95&type=album">
        <div class="ms-5">
            <h1 class="display-2">Новые правила</h1>
            <hr>
            <p class="fs-2">Новый сайт с кучей музыки и кучей разного контента только что открылся! Успевай забрать всё нужное к себе в библиотеку!</p>
        </div>
    </div>
</body>
</html>