<!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .title }}</title>
        <link rel="stylesheet" href="assets/style/style.css">
        <link rel="stylesheet" href="assets/style/bootstrap.css">
        <script src="../../assets/script/bootstrap.js">
        </script>
    </head>
    <body class="authBody">
        <div class="authBox">
            <h1 class="display-3">Авторизация</h1>
            <hr>
            <form action="/auth-answer" method="post" class="m-4 fs-2">
                <div class="mb-4 row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Логин</label>
                    <div class="col-sm-8 mt-2">
                        <input type="text" class="form-control" name="login" id="staticEmail" >
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Пароль</label>
                    <div class="col-sm-8 mt-2">
                        <input type="password" class="form-control" name="password" id="inputPassword">
                    </div>
                </div>
                <span class="fs-5 text-dark text-decoration-none border-1 p-1 ">
                    <a class="text-decoration-none text-dark" href="/">забыл пароль</a> |
                    <a class="text-decoration-none text-dark" href="/register-page">регистрация</a></span>
                <p class="text-danger mb-2 fs-5">{{ .checkAuth}}</p>
                <button type="submit" class="btn btn-success w-50 opacity-1">Отправить</button>
            </form>
        </div>
    </body>
</html>